@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0px;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}

.dark body {
  color: rgb(203, 212, 225);
}

.active {
  color: rgb(255, 174, 0);
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 64px;
  background-color: rgb(100, 116, 139);
  color: rgb(255, 255, 255);
  border-bottom: solid 1px rgba(135, 127, 127, 0.08);
}

.dark .Header {
  background-color: rgb(15, 23, 42);
  color: rgb(203, 213, 225);
}

.HomePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 110px 50px 20px 50px;
  color: rgb(203, 212, 225);
}

.News {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 30px 30px 30px;
}
.News div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 10px;
  padding: 10px;
}
.News p {
  width: 70%;
}
.News hr {
  margin-top: 15px;
  border: solid rgba(82, 82, 105, 0.443) 1px;
  width: 80%;
}
.News :last-child hr {
  display: none;
}

.Profile {
  padding: 90px 10px 20px 0px;
}
.Profile a {
  color: cornflowerblue;
}

.dark hr {
  margin-top: 15px;
  border: solid rgba(203, 213, 225, 0.25) 1px;
  width: 80%;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(203, 213, 225, 0.5);
          box-shadow: 0px 0px 7px 1px rgba(203, 213, 225, 0.5);
}

.OneNews button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 20px;
  padding-bottom: 2px;
  margin-top: 10px;
  border: solid 1px rgb(122, 130, 141);
  color: rgb(101, 108, 117);
  font-size: small;
}

.dark .ToDo {
  background-color: rgb(16, 26, 42);
}

.ToDo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 390px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  border-radius: 25px;
  padding: 10px 30px;
  background-color: rgb(93, 112, 142);
}
.ToDo h2 {
  width: 70%;
  height: 65px;
  text-align: center;
  font-size: 60px;
  margin-top: -10px;
}
.ToDo .Rows {
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin: 20px;
}
.ToDo .Rows .Scroll {
  overflow-y: scroll;
  max-height: 300px;
}
.ToDo .Rows .Scroll::-webkit-scrollbar {
  display: none;
}
.ToDo .Rows .Row {
  width: 100%;
  height: 50px;
  background-color: rgb(189, 198, 225);
  border: solid 1px rgb(109, 124, 167);
  padding: 5px;
  font-size: 25px;
  color: rgb(36, 43, 62);
}
.ToDo .Rows .Row h6, .ToDo .Rows .Row button {
  display: inline-block;
  font-size: 10px;
  padding: 2px 4px;
  margin: 5px;
}
.ToDo .Rows .Row h6:focus, .ToDo .Rows .Row button:focus {
  border: solid 1px rgb(112, 112, 144);
  border-radius: 0.2rem;
}
.ToDo .Rows .Row img {
  display: inline-block;
  width: 35px;
  font-size: 10px;
  padding-bottom: 5px;
  margin-right: 10px;
}
.ToDo .Rows input {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.ToDo .Rows input:focus {
  outline: 0;
}
.ToDo .Rows div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 90px 10px 30px 10px;
  color: black;
}
.Books .Select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 0px 15px;
  margin: 15px 0px;
}
.Books .Select select {
  display: inline;
  background-color: rgb(147, 154, 175);
  padding: 3px 5px 5px 5px;
  margin: 0px 10px;
  outline: none;
}
.Books p {
  width: 100%;
  margin: 0px 5px;
  padding: 0px 20px;
  font-size: large;
}
.Books .Items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: 20px 10px;
}
.Books .Items div .OneBook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 260px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-height: 300px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: 10px;
  padding: 30px;
  background-color: rgb(147, 154, 175);
}
.Books .Items div .OneBook img {
  max-width: 100%;
  margin-bottom: 10px;
}
.Books .Items div .OneBook h6 {
  font-size: large;
  width: 190px;
}
.Books .Items div .OneBook p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: small;
  width: 190px;
  min-height: 20px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.dark .Books {
  color: rgb(203, 212, 225);
}
.dark .Books select {
  background-color: rgb(59, 67, 79);
}
.dark .Books .Items .OneBook {
  background-color: rgb(36, 43, 62);
}

.SearchBook {
  width: 100%;
  height: 100px;
}
.SearchBook div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: start;
  width: 70%;
  height: 85px;
  margin: 15px 20px;
  background-color: rgb(178, 179, 188);
}
.SearchBook div div {
  width: 40%;
  height: 30px;
  margin: 25px 30px;
  background-color: aliceblue;
}
.SearchBook div div input {
  width: 90%;
  height: 30px;
  padding: 7px 7px 10px 7px;
  background-color: transparent;
  color: black;
  font-size: larger;
  outline: none;
}
.SearchBook div div button {
  width: 10%;
  height: 75%;
  margin: 3px 3px;
  background-image: url("../../svg/magnifier.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.dark .SearchBook div {
  background-color: darkgray;
}
.dark .SearchBook div div {
  background-color: aliceblue;
}

.Modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -30px;
  background-color: rgba(13, 22, 31, 0.678);
  -webkit-transform: scale(0);
          transform: scale(0);
}
.Modal .Main {
  position: relative;
  top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 70%;
  min-width: 50%;
  height: 60%;
  padding: 20px 30px;
  color: rgb(16, 26, 42);
  background-color: rgb(127, 143, 165);
}
.Modal .Main img {
  height: 80%;
  max-width: 30%;
}
.Modal .Main .Content {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.Modal .Main .Content h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: larger;
  padding: 5px 30px;
}
.Modal .Main .Content p {
  font-size: small;
}
.Modal .Main .Content .Description {
  height: 100%;
  margin: 10px;
  overflow-y: scroll;
}
.Modal .Main .Content .Description::-webkit-scrollbar {
  display: none;
}

.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.dark .Modal .Main {
  background-color: rgb(16, 26, 42);
  color: beige;
  -webkit-box-shadow: 0px 0px 90px rgba(189, 194, 202, 0.16);
          box-shadow: 0px 0px 90px rgba(189, 194, 202, 0.16);
}