@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0px;
  min-height: 100vh;
}

.active {
  color: rgb(255, 174, 0);
}

.HomePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(203, 212, 225);
}

.News {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.News div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 10px;
  padding: 10px;
}
.News p {
  width: 70%;
}
.News hr {
  margin-top: 15px;
  border: solid rgba(82, 82, 105, 0.443) 1px;
  width: 80%;
}
.News :last-child hr {
  display: none;
}

.Profile a {
  color: cornflowerblue;
}

.dark hr {
  margin-top: 15px;
  border: solid rgba(203, 213, 225, 0.25) 1px;
  width: 80%;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(203, 213, 225, 0.5);
          box-shadow: 0px 0px 7px 1px rgba(203, 213, 225, 0.5);
}

.OneNews button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 20px;
  padding-bottom: 2px;
  margin-top: 10px;
  border: solid 1px rgb(122, 130, 141);
  color: rgb(101, 108, 117);
  font-size: small;
}

.dark .ToDo {
  background-color: rgb(16, 26, 42);
}

.ToDo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 390px;
  min-height: 300px;
  background-color: rgb(93, 112, 142);
}
.ToDo h2 {
  width: 70%;
  height: 65px;
  text-align: center;
  font-size: 60px;
  margin-top: -10px;
}
.ToDo .Rows {
  width: 350px;
  min-height: 250px;
  margin: 20px;
}
.ToDo .Rows div, .ToDo .Rows p {
  width: 100%;
  height: 50px;
  background-color: rgb(167, 180, 215);
  border: solid 1px rgb(109, 124, 167);
  padding: 5px;
  font-size: 25px;
  color: rgb(61, 71, 101);
}
.ToDo .Rows div h6, .ToDo .Rows div button, .ToDo .Rows p h6, .ToDo .Rows p button {
  display: inline-block;
  font-size: 10px;
  padding: 2px 4px;
  margin: 5px;
}
.ToDo .Rows div h6:focus, .ToDo .Rows div button:focus, .ToDo .Rows p h6:focus, .ToDo .Rows p button:focus {
  border: solid 1px rgb(112, 112, 144);
  border-radius: 0.2rem;
}
.ToDo .Rows div img, .ToDo .Rows p img {
  display: inline-block;
  width: 35px;
  font-size: 10px;
  padding-bottom: 5px;
  margin-right: 10px;
}
.ToDo .Rows input {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.ToDo .Rows input:focus {
  outline: 0;
}
.ToDo .Rows div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}